*{
    font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* Shared Style */

.second-bg{
    background-color: #FFF8F3;
}
.text-primary{
    color: #FD6E0A;
}

.dark-2{
    color: #474747;
}
.dark-3{
    color: #757575;
}

.btn-primary{
    background-color: #FD6E0A;
    font-weight: 700;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
    border: none;
}

.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}

.section-description{
    font-size: 18px;
    color: #757575;
}

.text-center{
    text-align: center;
}
/* header */
.header{
    background-image: url("../images/developer.png"), url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

/* Nav Style */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}

.nav-title{
    font-weight: 800;
    font-size: 45px;
}

nav ul{
    display: flex;
    align-items: center;
    
}

nav ul li {
    list-style: none;
    margin-right: 51px;
}

nav ul li a {
    text-decoration: none;
    font-size: 20px;
}


/* banner styles */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 230px;
}
.banner-content{
    max-width: 580px;
}
.banner-greetings{
    font-size: 45px;
    font-weight: 600;
}

.banner-title{
    font-weight: bold;
    font-size: 85px;
}
.banner-description{
    font-size: 18px;
}
.banner-profile-picture{
    width: 580px;
}


/* main Style */
main{
    max-width: 1140px;
    margin: 0px auto;
    
}
main section{
    margin-top: 130px;
    margin-bottom: 130px;
}

/* about */
.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
}

.section-description{
    max-width: 909px;
    margin: 30px auto 50px auto;
}
.about-items{
    display: flex;
    justify-content: space-around;
}
.item-title{
    font-size: 20px;
}
.item-description{
    font-weight: bold;
    font-size: 20px;
}

/* skills section styles */
.skills-container{
    display: flex;
    gap: 24px;
}
.skill{
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06) ;
}

/* resume section style */

.resume-column-title{
    font-size: 30px;
}
.resume-container{
    display: flex;
    gap: 24px;
}
.experience-title{
    font-size: 25px;
    margin: 0px;
}
.experience-sub-title{
    font-size: 20px;
    margin: 10px 0px;
    font-weight: 500;
}
.experience-description{
    font-size: 16px;
}
.resume hr{
    margin: 30px 0px;
}
.resume-download-cv{
    margin-top: 50px;
}

/* footer Style */

footer{
    padding: 130px 230px;
    display: flex;
    gap: 100px;
}
.footer-column{
    width: 50%;

}
footer input[type="text"],footer input[type="email"], footer textarea{
    height: 64px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
    font-size: 16px;
}

/* Responsive */

.hide{
    display: none;
}
@media screen and (max-width: 576px) {
    .skills-container,.resume-container,footer{
        flex-direction: column;
    }
    footer{
    padding: 0px 0px;
    }
    .footer-column{
        width: 100%;
    }
    footer input[type="text"],footer input[type="email"], footer textarea{
        width: calc(100% - 40px);
    }
}